@model VidEye.Models.UploadedDisplayModel

@{
    ViewBag.Title = "DisplayUpload";
}

<h2>DisplayUpload</h2>

<div>
    <h4>UploadedDisplayModel</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
